
html,body {
    margin: 0px;
    padding: 0px;
    background-color:#7EE8FA;
}
/*

#1B998B :Azul oscuro
#ED217C :Rosado
#E58C8A :Rojo
#55DDFF :Cyan
#7EE8FA :Cyan 2
#FFF07C :Amarillo
#FF9B71 :Naranja
#80FF72 :Verde

*/

header{
    margin: 0px;
    width:100%;
    height:130px;
    background-color:#F3AABB;
    z-index:10;
    position: fixed;
    top:0px;
    left:0px;
}

header img{

    background-color:rgba(0, 0, 0,0);
}

@media (min-width:993px) {
    .hide-large {
        display: none !important;
    }
}

@media (max-width:992px) and (min-width:601px) {
    .hide-medium {
        display: none !important;
    }
}

@media (max-width:600px) {
    .hide-small {
        display: none !important;
    }
}

nav{
    margin-left:10%;
    margin-right:10%;
    margin-top:130px;
    margin-bottom:0px;
    background-color:#1B998B/*rgba(57, 84, 186,1)*/;
    height: auto;
}

nav ul{
    list-style-type:none;
    padding:0px;
}

nav ul li.menu{
    margin:7px 10px;
    list-style-type:none;
    display: inline-block;
    vertical-align:middle;
    background-color:#55DDFF/*rgba(182,216,242,1)*/;
    height:25px;
    width:150px;
    position:relative;
}

nav ul li.menu a{
    text-decoration:none;
    color:white;
    font-size: 15px;
    font-family: 'Arvo', serif;
    vertical-align:middle;
    display:block;
    position:relative;
    height:20px;
    width:150px;
}

.display-container {
    position: relative;
}

.display-middle {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
}

#prod{
    position: absolute;
    z-index:3;
    top:100%;
    left:0;
    text-decoration:none;
    color:white;
    font-size: 15px;
    display:none;
    font-family: 'Arvo', serif;
    background-color:#55DDFF;
}

li.menu:hover/*a link is hovered when the mouse is over it*/{
    background-color:#80FF72;
    z-index:2;
}

#prod p:hover {
    background-color:#80FF72;
}


.borrar { clear: both; }

article{
    margin-left:10%;
    margin-right:10%;
    margin-top:0px;
    z-index:1;
    background-color:#FFF07C;
    position:relative;
    top:-16px;
}

#loader{
    display:block;
}

.cart {
    position: absolute;
    right: 15%;
    top: 50%;
    background-color:#FF637D;
    transform:translate(0%,-50%);
    -ms-transform:translate(0%,-50%);
    padding:5px;
}


.foot{
    position:relative;
    background-color:#F3AABB/*rgba(233,187,181,1)*/;
    height:100px;
}

.network{
    position:absolute;
    top:30%;
    left:50%;
    transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
}

.copyright{
    position:absolute;
    top:60%;
    transf0rm:translate(0%,-50%);
    -ms-transform:translate(0%,-50%);
    position:relative;
}

.seidai{
    text-align:center;
    color:black;
    font-family: 'Zilla Slab', serif;
}

#returnH {
    position: fixed;
    right: 10%;
    top: 100%;
    background-color:#FF637D;
    transform:translate(0%,-100%);
    -ms-transform:translate(0%,-100%);
    padding:5px;
    z-index:10;
    display:none;
    cursor:pointer;
}

