html,body {
    margin: 0px;
    padding: 0px;
    background-color:rgba(255,228,207,1);
}

.head{
    margin: 0px;
    padding:0px;
    width:100px;
    height:100px;
    z-index:10;
    position: absolute;
    top:0px;
    left:0px;
    background-color:rgba(202,159,176,1);
}

@media (min-width:993px) {
    .hide-large {
        display: none !important;
    }

    .cart {
        position: absolute;
        right: 5%;
        top: 50%;
        background-color:rgba(126, 72, 174,1);
        transform:translate(0%,-50%);
        -ms-transform:translate(0%,-50%);
        padding:5px;
    }
    
}

@media (max-width:992px) and (min-width:601px) {
    .hide-medium {
        display: none !important;
    }

    .cart {
        position: absolute;
        right: 50px;
        top: 50%;
        background-color:rgba(126, 72, 174,1);
        transform:translate(0%,-50%);
        -ms-transform:translate(0%,-50%);
        padding:5px;
    }

    
}

@media (max-width:600px) {
    .hide-small {
        display: none !important;
    }

    .cart {
        position: absolute;
        right: 50px;
        top: 50%;
        background-color:rgba(126, 72, 174,1);
        transform:translate(0%,-50%);
        -ms-transform:translate(0%,-50%);
        padding:5px;
    }
    
}

.menu-nav{
    width:100%;
    background-color:rgba(146,140,255,1);
    height: 46px;
    position: relative;
}

.menu-all{
    z-index:9;
    padding:0px;
    margin:0px;
    position: relative;
}

.menu-ul{
    list-style-type:none;
}

nav ul li.menu{
    margin:7px 10px;
    display: inline-block;
    height:25px;
    width:150px;
    position:relative;
}

nav ul li.menu a{
    text-decoration:none;
    color:black;
    font-size: 15px;
    font-family: 'Arvo', serif;
    display:block;
    position:relative;
    height:20px;
    width:150px;
}

.display-container {
    position: relative;
}

.display-middle {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
}

.menubar{
    margin:0px;
    padding:0px;
    height:25px;
    background-color:rgba(146,140,255,1);
}

#prod{
    padding-top:5px;
    position: absolute;
    z-index:3;
    top:100%;
    left:0;
    text-decoration:none;
    color:white;
    font-size: 15px;
    display:none;
    font-family: 'Arvo', serif;
    background:rgba(146,140,255,1);
}

.menubar:hover{
    background-color:rgba(0,0,0,0.2);
}

.decoration{
    height:4px;
    background-color:rgba(193, 53, 132 ,1);
}

.borrar {
    height:50px;
}

article{
    margin-left:5%;
    margin-right:5%;
    width:90%;
    height:auto;
    margin-top:0px;
    z-index:1;
    background-color:rgba(255,228,207,0);
    position:relative;
}

#loader{
    display:block;
}



.cart:hover {
    background-color:rgba(126, 72, 174,.5);
}

.foot{
    position:relative;
    background-color:rgba(202,159,176,1);
    height:100px;
    z-index:8;
}

.network{
    position:absolute;
    top:30%;
    left:50%;
    transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
}

.copyright{
    top:60%;
    transform:translate(0%,-50%);
    -ms-transform:translate(0%,-50%);
    position:relative;
}

.seidai{
    text-align:center;
    color:black;
    font-family: 'Zilla Slab', serif;
}

#returnH {
    position: fixed;
    right: 5%;
    top: 100%;
    background-color:rgba(126, 72, 174,1);
    transform:translate(0%,-100%);
    -ms-transform:translate(0%,-100%);
    padding:5px;
    z-index:10;
    display:none;
    cursor:pointer;
}

#returnH:hover {
    background-color:rgba(126, 72, 174,.5);
}

.Article{
    margin:0px;
    position:relative;    
    top:10%;
    left:5%;
    transform:translate(0%,0%);
    -ms-transform:translate(0%,0%);
    width:90%
}

.Ptitle{
    font-size: 50px;
    font-family: 'Arvo', serif;
    margin-bottom:20px;
}

.disp_menu {
    position: absolute;
    right: 0px;
    top: 50%;
    background-color:rgba(126, 72, 174,1);
    transform:translate(0%,-50%);
    -ms-transform:translate(0%,-50%);
    padding:5px;
    cursor:pointer;
}

.menu_oculto{
    padding:0px;
    height:175px;
    width:0px;
    overflow:hidden;
    transition: 1s all;
    position: absolute;
    z-index:10;
    right: 0px;
    top: 50px;
    background-color:rgba(146,140,255,1);
    padding:5px 0px;
    cursor:pointer;
}

.mostrar {
    width:200px;
}

.menu-d{
    color:black;
    font-size: 15px;
    font-family: 'Arvo', serif;
    text-decoration:none;
}

#prod-d{
    padding-top:5px;
    position: absolute;
    z-index:3;
    top:100%;
    left:0;
    text-decoration:none;
    color:white;
    font-size: 15px;
    display:block;
    font-family: 'Arvo', serif;
    background:rgba(146,140,255,1);
}

.menubar-d{
    margin:0px;
    padding:0px;
    height:25px;
    background-color:rgba(0,0,0,.1);
}

.menubar-d:hover{
    background-color:rgba(0,0,0,0.3);
}
