.ccontent_L{
    position:relative;
    right:0%;
    width:40%;
    margin:10px 5% 10px 0%;
    border: 1px solid rgba(193, 53, 132 ,1);
    background:rgba(146,140,255,.7);
    display:inline-block;
    transform:translate(20%,0%);
    -ms-transform:translate(20%,0%);
}

.Compra_L{
    position:relative;
    right:0%;
    width:40%;
    margin:10px 0% 10px 5%;
    border: 1px solid rgba(193, 53, 132 ,1);
    background:rgba(255,255,255,1);
    display:inline-block;
    transform:translate(5%,0%);
    -ms-transform:translate(5%,0%);
}


.Compra_S{
    position:relative;
    right:0%;
    width:100%;
    margin:10px 0% 10px 0%;
    border: 1px solid rgba(193, 53, 132 ,1);
    background:rgba(255,255,255,1);
    display:inline-block;
    transform:translate(0%,0%);
    -ms-transform:translate(0%,0%);
}

.size_L{
    width:100%;
    margin:0;
}

.ccontent_S{
    width:100%;
    margin:10px 0% 10px 0%;
    border: 1px solid rgba(193, 53, 132 ,1);
    background:rgba(146,140,255,.7);
    display:inline-block;
}

.frm_entry_l{
    width:50%;
    padding:10px;
    box-sizing:border-box;
    background:none;
    outline:none;
    resize:none;
    border:0px;
   font-family: 'Playfair Display', serif;
}

.frm_entry_l_f{
    width:40%;
    float:left;
    padding:10px;
    box-sizing:border-box;
    background:none;
    outline:none;
    resize:none;
    border:0px;
   font-family: 'Playfair Display', serif;
}

.m_p_select_l{
    width:75%;
    margin:2%;
    padding:0px;
    box-sizing:border-box;
    font-weight:bold;
    font-size:15px;
    border:0px;
    font-family: 'Zilla Slab', serif;
    background-color:rgba(193, 53, 132 ,.5);
}

.m_p_select_l select { 
    border: none; 
    width:100%;
    padding:3%;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;       /* Remove default arrow */
   background: url("../../images/arrow_drop_down-24px.svg")  right center no-repeat;
   cursor: pointer;
}

.frm_input{
    width:90%;
    margin:2%;
    padding:3%;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
    border:0px;
   background:rgba(193, 53, 132 ,.5);
   font-family: 'Zilla Slab', serif;
}



.frm_input_su{
    width:90%;
    margin:2%;
    padding:3%;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
    border:0px;
   background:rgba(193, 53, 132 ,.5);
   font-family: 'Playfair Display', serif;
   color:black;
   font-weight:bold;
    font-size:15px;
}

.Article_l{
    margin:0;
    position:relative;    
    top:10%;
    left:25%;
    transform:translate(0%,0%);
    -ms-transform:translate(0%,0%);
    width:50%;
    text-align:center;
}

.Ptitle_l{
    font-size: 50px;
    font-family: 'Arvo', serif;
    margin-bottom:20px;
}

.Article_s{
    margin:5%;
    position:relative;    
    top:10%;
    left:0%;
    transform:translate(0%,0%);
    -ms-transform:translate(0%,0%);
    width:90%;
    text-align:center;
}

.Ptitle_s{
    font-size: 50px;
    font-family: 'Arvo', serif;
    margin-bottom:20px;
}




.frm_entry_s{
    width:90%;
    padding:10px;
    box-sizing:border-box;
    background:none;
    outline:none;
    resize:none;
    border:0px;
   font-family: 'Playfair Display', serif;
}



.m_p_select_s{
    width:100%;
    margin:2%;
    padding:0px;
    box-sizing:border-box;
    font-weight:bold;
    font-size:15px;
    border:0px;
    font-family: 'Zilla Slab', serif;
    background-color:rgba(193, 53, 132 ,.5);
}
