#p-float {
    max-width: 100%;
    margin: 0 auto;
    /* Clearfix */
    overflow: auto;
}
#p-float::after {
    /* Clearfix */
    content: "";
    clear: both;
    display: table;
}
/* Product items */
div.p-float {
    float: left;
    width: 20%;
}
div.p-float-in {
    box-sizing: border-box;
    margin: 5px; 
    padding: 10px;
    border: 2px solid rgba(193, 53, 132 ,1);
    background:rgba(146,140,255,.3);
}
img.p-img {
    width: 100%;
    height: auto;
}
div.p-name {
    color:rgba(0,0,0,1);
    font-weight: bold;
    font-size: 1.1em;
    font-family: 'Playfair Display', serif;
}
div.p-price {
    color:rgba(193, 53, 132 ,1);
    font-family: 'Zilla Slab', serif;
}
div.p-desc {
    color:rgba(0,0,0,.8);
    font-size: 0.9em;
    font-family: 'Zilla Slab', serif;
}
button.p-add {
    background: rgba(126, 72, 174,1);
    color:rgba(255,255,255,1);
    border: none;
    width: 100%;
    padding: 10px;
    margin: 10px 5px 5px 5px;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
}
button.p-add:hover {
    background: rgba(126, 72, 174,.5);
}
/* Responsive */
@media only screen and (max-width: 1024px) {
    div.p-float { width: 33%; }
}
@media only screen and (max-width: 600px) {
    div.p-float { width: 50%; }
}
